.Eventcontainer {
  width: 70vw;
  height: 72vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  overflow-x: hidden;

  .event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    padding: 20px;
    border-radius: 10px;
    width: 29vw;
    justify-self: center;

    .event-footer {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-top: 2px;

      button {
        width: 100%;
        height: 5vh;
        border-radius: 10px;
        background-color: gainsboro;
        cursor: pointer;
      }

      .img-loc {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 7vh;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .going-ic-txt {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;

      img {
        margin-right: 5px;
        padding-left: -20px;
        border: 2px solid red;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }

    .by-date {
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: space-between;

      img {
        width: 20px;
        height: 20px;
        align-self: center;
      }

      p {
        font-size: 13px;
        align-self: center;
      }
      .title-by {
        display: flex;
        flex-direction: column;
      }
    }

    .event-image {
      width: 100%;

      img {
        width: 100%;
        height: 25vh;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .Eventcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 200vh;
    margin-top: 10px;

    .event-card {
      margin: auto;
      height: 100%;
      width: 95%;
      margin-top: 1rem;

      .by-date {
        margin-bottom: 5px;

        h3 {
          font-size: 10px;
        }
        p {
          font-size: 10px;
          font-weight: 700;
        }
      }

      .going-ic-txt {
        img {
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 12px;
          font-weight: 700;
        }
      }

      .event-footer {
        .img-loc {
          font-size: 10px;
          font-weight: 700;
        }

        button {
          font-weight: 700;
          color: blue;
        }
      }
    }
  }
}



@media (min-width: 427px) and (max-width: 768px) {
  .Eventcontainer {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 180vh;

    .event-card {
      width: 95%;
      margin-top: 1rem;
      height: 100%;

      .by-date {
        margin-bottom: 5px;

        h3 {
          font-size: 10px;
        }
        p {
          font-size: 10px;
          font-weight: 700;
        }
      }

      .going-ic-txt {
        img {
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 12px;
          font-weight: 700;
        }
      }

      .event-footer {
        .img-loc {
          font-size: 10px;

          p{
            font-weight: 700;
          }
        }

        button {
          font-weight: 700;
          color: blue;
        }
      }
    }
  }
}
