.group-container {
  width: 70vw;
  height: 90vh;

  .group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border-bottom: 2px solid gainsboro;

    .group-header-buttons {
      display: flex;
      flex-direction: row;
    }

    img {
      margin-right: 20px;
      border-radius: 50%;
    }
    button {
      background-color: blue;
      margin-right: 20px;
      border-radius: 12px;
      width: 150px;
      color: white;
      font-weight: 700;
      border: none;
      cursor: pointer;
    }
  }

  .group-suggestions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 10vh;

    .right-text-suggestions {
      color: blue;
      font-weight: 700;
    }
  }

  .suggestion-image-holder {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
    gap: 1rem;

    .left-suggestion-image {
      display: flex;
      flex-direction: column;
      height: 100%;

      .lower-suggest-cont {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        width: 100%;
        height: 3.8vh;

        button {
          width: 50%;
          height: 100%;
          border-radius: 6px;
          cursor: pointer;
        }

        .lower-sug-imgs {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          p {
            font-weight: 700;
            color: grey;
            margin-right: 5px;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid gainsboro;
          }
        }
      }

      .middle-suggest-cont {
        img {
          border-radius: 20px;
        }
      }

      .upper-suggest-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 10px;

        .suggest-icons-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    .right-suggestion-image {
      display: flex;
      flex-direction: column;
      height: 100%;

      .lower-suggest-cont {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        width: 100%;
        height: 3.8vh;

        button {
          width: 50%;
          height: 100%;
          border-radius: 6px;
          cursor: pointer;
        }

        .lower-sug-imgs {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          p {
            font-weight: 700;
            color: grey;
            margin-right: 5px;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid gainsboro;
          }
        }
      }

      .middle-suggest-cont {
        img {
          border-radius: 20px;
        }
      }

      .upper-suggest-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 10px;

        .suggest-icons-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }

  .recent-activity-holder {
    width: 100%;
    height: 37vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;

    .activity-card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .DE {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      .DE-details-text {
        height: 6vh;
        font-weight: 700;
        color: gray;
        gap: 0.5rem;
      }
      .DE-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .group-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300vh;

    .group-header {
      h3 {
        visibility: hidden;
      }

      .group-header-buttons {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        top: 0.6rem;
        cursor: pointer;

        .search-container {
          border: 1px solid gainsboro;
          align-items: center;
          width: 90%;
          margin: auto;
          border-radius: 10px;
        }

        button {
          width: 90%;
          margin: auto;
          height: 7.7vh;
          margin-bottom: 5px;
        }
      }
    }

    .group-suggestions {
      font-size: 13px;
      margin-top: 6rem;
    }

    .suggestion-image-holder {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400vh;
      overflow-y: scroll;
      margin-top: 0.5rem;

      .left-suggestion-image,
      .right-suggestion-image {
        .upper-suggest-cont {
          .suggest-icons-text {
            height: 5vh;

            img {
              width: 20px;
            }
          }
          p {
            font-size: 12px;
          }
        }

        .middle-suggest-cont {
          height: 18vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            height: 100%;
            width: 90%;
          }
        }

        .lower-suggest-cont {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 2.5rem;
          .lower-sug-imgs {
            img {
              width: 20px;
              height: 20px;
              justify-self: self-start;
            }
          }
          button {
            height: 6vh;
            color: blue;
            font-weight: 700;
          }
        }
      }
    }

    .recent-activity-holder {
      height: 200vh;
      margin-top: 1rem;
      padding: 0 10px 0 10px;

      .activity-card {
        height: 100vh;
        width: 100%;

        .DE {
          height: 6.5vh;
        }

        .DE-details-text {
          p {
            font-size: 8.9px;
          }
        }

        .DE-images {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 1rem;

          .bot-im {
            display: none;
          }

          img {
            margin: auto;
            width: 90%;
          }
        }
      }
    }
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  .group-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    height: 300vh;

    .group-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: none;
      margin-top: 1rem;

      h3 {
        margin-left: 1rem;
      }

      .group-header-buttons {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0.3rem;
        left: 24rem;
        cursor: pointer;

        .search-container {
          border: 1px solid rgb(0, 0, 0);
          display: grid;
          place-items: center;
          width: 6vw;
          height: 7vh;
          border-radius: 50%;
          margin-right: 1rem;
        }

        button {
          width: 90%;
          margin: auto;
          height: 7.7vh;
          margin-bottom: 5px;
          margin-right: 1rem;
        }
      }
    }

    .group-suggestions {
      font-size: 13px;
      margin-top: 1.3rem;
      display: flex;
      flex-direction: row;
    }

    .suggestion-image-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 40vh;

      .hide {
        display: none;
      }

      .left-suggestion-image,
      .right-suggestion-image {
        .upper-suggest-cont {
          .suggest-icons-text {
            p {
              font-size: 10px;
            }
          }
          .suggest-icons-text {
            height: 5vh;

            img {
              width: 40%;
            }
          }
        }

        .middle-suggest-cont {
          height: 18vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            height: 100%;
            width: 90%;
          }
        }

        .lower-suggest-cont {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 2.5rem;
          .lower-sug-imgs {
            img {
              width: 20px;
              height: 20px;
              justify-self: self-start;
            }
          }
          button {
            height: 6vh;
            color: blue;
            font-weight: 700;
          }
        }
      }
    }

    .recent-activity-holder {
      height: 200vh;
      padding: 0 10px 0 10px;

      .activity-card {
        height: 100vh;
        width: 100%;

        .DE {
          height: 6.5vh;
        }

        .DE-details-text {
          p {
            font-size: 14px;
          }
        }

        .DE-images {
          display: flex;
          flex-direction: row;
          width: 90%;
          gap: 0.5rem;

          .bot-im {
            display: none;
          }

          img {
            width: 55%;
            border: 2px solid gray;
            border-radius: 17px;
          }
        }
      }
    }
  }
}
