.leftsidebar {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .logo {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .UserDetails {
    width: 12vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    // padding-left: 10px;
    align-items: center;
    margin-left: 0.3rem;
    background-color: #f8f8f8;
    border-radius: 0.8rem;

    .userName-bio p {
      background-color: #f8f8f8;
    }

    .Angela {
      font-weight: 700;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15vw;
    margin-left: 0.3rem;
    margin-bottom: 0.7rem;
    height: 36vh;
  }
  .menu h2 {
    font-weight: 800;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.641);
  }

  .Shortcuts {
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
    height: 30vh;
  }

  .Shortcuts h2 {
    font-weight: 800;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.641);
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 427px) {
  .leftsidebar1 {
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 1;
    width: 103%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.6);

    .leftsidebar-holder{
      width: 50%;
      height: 100%;
      padding: 0 5px 0 5px;

      .logo{
        display: none;
      }

      .UserDetails{
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        background-color: gainsboro;
        height: 8vh;
        padding-left: 5px;
        margin-bottom: 2rem;

        .user-image-1{
          background-color: gainsboro;
        }

        .userName-bio{
          background-color: gainsboro;
          p{
            background-color: gainsboro;
          }
        }
      }

      .menu{
        height: 35vh;
        margin-bottom: 2rem;
      }

      .Shortcuts{
        
        h2{
          border-bottom: 2px solid gray;
          margin-bottom: 3px;
        }
        display: flex;
        flex-direction: column;
        height: 40vh;
      }
    }
}
}


@media (min-width: 427px) and (max-width: 768px) {
  .leftsidebar1 {
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    .leftsidebar-holder{
      width: 30%;
      height: 100%;
      padding: 0 5px 0 5px;

      .logo{
        display: none;
      }

      .UserDetails{
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        background-color: gainsboro;
        height: 8vh;
        padding-left: 5px;

        .user-image-1{
          background-color: gainsboro;
        }

        .userName-bio{
          background-color: gainsboro;
          p{
            background-color: gainsboro;
          }
        }
      }

      .menu{
        height: 35vh;
      }

      .Shortcuts{
        
        h2{
          border-bottom: 2px solid gray;
          margin-bottom: 3px;
        }
        display: flex;
        flex-direction: column;
        height: 30vh;
      }
    }
}
}

@media screen and (min-width: 769px) {
  .leftsidebar1{
    visibility: hidden;
    position: absolute;
  } 
}